@using PagedList.Mvc;
@model PagedList.IPagedList<UserControlPanel.Models.Character>

@{
    ViewBag.Title = "Index";
}
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Character", FormMethod.Get))
{
<p>
    Filter Name/Class: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" name="Filter" value="Filter" />
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Login ID")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.ActionLink("Name", "Index", new { sortOrder = "Name", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Level)*@
            @Html.ActionLink("Level", "Index", new { sortOrder = "Level", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Class)*@
            @Html.ActionLink("Class", "Index", new { sortOrder = "Class", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Experience")
        </th>
        <th>
            @Html.DisplayName("Next")
        </th>
        <th>
            @Html.DisplayName("CharacterCreationDate")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoginID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Next)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterCreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page}))